h1 {
  margin-top: 70px;
}

.game-status {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  text-align: center;
  height: 70px;
  margin-bottom: 30px;
}

.keyboard-container,
.playboard-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.keyboard-container {
  margin: 70px 0;

  .board-line {
    flex-wrap: wrap;
    justify-content: center;
    width: 50vw;

    @media (max-width: 1023px) {
      width: 70vw;
    }

    @media (max-width: 520px) {
      width: 90vw;
    }
  }

  .board-box {
    background-color: #97a2b3;
    transition: background-color;
    transition-delay: 1s;

    &.found {
      background-color: #6ad084;
    }

    &.bad-index {
      background-color: pink;
    }

    &.not-used {
      background-color: #080927;
    }
  }
}

.board-line {
  display: flex;
}

.board-box {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 2px;
  text-transform: uppercase;
  width: 50px;
  position: relative;
  perspective: 500px;

  &:nth-child(1) .content {
    transition-delay: 100ms;
  }

  &:nth-child(2) .content {
    transition-delay: 200ms;
  }

  &:nth-child(3) .content {
    transition-delay: 300ms;
  }

  &:nth-child(4) .content {
    transition-delay: 500ms;
  }

  &:nth-child(5) .content {
    transition-delay: 500ms;
  }

  &:nth-child(6) .content {
    transition-delay: 600ms;
  }

  &:nth-child(7) .content {
    transition-delay: 700ms;
  }

  &:nth-child(8) .content {
    transition-delay: 800ms;
  }

  &.found {
    .back {
      background-color: #6ad084;
    }
  }

  &.bad-index {
    .back {
      background-color: pink;
    }
  }

  &.not-used {
    .back {
      background-color: #080927;
    }
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
  }

  &.is-validated .content {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    backface-visibility: hidden;
  }

  .front {
    background-color: #97a2b3;
  }

  .back {
    transform: rotateY(180deg);
  }

  @media (max-width: 520px) {
    height: 45px;
    width: 45px;
  }

  &.is-clickable {
    cursor: pointer;
  }
}
